.collection-item .material-icons{
    cursor: pointer;
};

.nav-wrapper .waves-effect i.material-icons.left{
    margin-right: 0px;
}
.nav-wrapper a.waves-effect{
    margin-left: 2%;
}

body{
    /*background-color: #444;*/
    background-color:#202123;
}
ul{
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto !important;
}
.nav-wrapper{
    background-color: #26a69a;
    /*background-color: #03DAC6;  */
}

input{
    color: #03DAC6;
}

.datepicker-calendar-container{
    background-color: #444;
}

.datepicker-table td:not(.is-disabled){
    color: #fff;
}
.datepicker-date-display{
    color: #444;
}
label{
    font-size: 1rem;
    color: #fff;
}
.collection .collection-item {
    /*background-color: #5a5a5a;*/
    background-color: #444;
    color: #fff;
    border-bottom: 1px solid #202123;
}
.collection {
    border: 1px solid #202123;
}
span.badge {
    color: #fff;
}
ul.collection{
    margin: 1%;
}
label:hover, i:hover{
    color: #03DAC6;
}

.row .col{
    padding: .75rem;
}
.row {
    overflow: hidden;
}

.open{
    top: 1% !important;
}

.card{
    background-color: #444;
}
.card .material-icons, .desc{
    color: #26a69a;
}

#last_action_wrapper{
    position: fixed;
    left: 1%;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    /*z-index: 996;*/
    color: wheat;
    font-size: 12px;
}